Stopwatch {
    layout: horizontal;
    min-width: 50;
    margin: 1;
    padding: 1;
    height:5;
    background: $boost;
}

TimeDisplay{
    height:3;
    content-align:center middle;
    text-opacity:60%;
}

#start {
    dock:left;
}
#stop {
    dock:left;
    display:none;
}
#reset {
    dock:right;
}

.started #start{
    display:none;
}
.started #stop{
    display:block;
}